var shorten_div = document.getElementById('shorten-url-div')
var url_text_box = document.getElementById('url-text-box')

shorten_div.innerHTML = '\
  <div class="new-url-p">\
  <p>Your New URL: \
    <%=j link_to "#{ENV["DOMAIN_ADDRESS"]}/#{@encoded_url}", "#{ENV["DOMAIN_ADDRESS"]}/#{@encoded_url}", target: :_blank %>\
  </p>\
  </div>\
'
url_text_box.value = ''