<div id="url-index-wrapper">
  <div class="main-form-wrapper">

    <div class="row col-md-12 ml-auto justify-content-center">
      <h2>GENERATE A SHORT LINK, </h2>
    </div>

    <div class="row col-md-12 ml-auto justify-content-center">
      <h2>KEEP YOUR EYES HAPPY!</h2>
    </div>

    <br>
    <%= render partial: 'shared/url_create_form' %>
  </div>
  <%= render partial: 'shared/top100' %>
</div>

