<div class="container-fluid">

  <div class="row justify-content-center">
    <h1>Welcome to BVly!!</h1>
  </div>

  <br>

  <div class="row justify-content-center">
    <%= form_for :url, url: urls_path, remote: true do |f| %>
      <div>
        I want to shorten:
        <%= f.text_field :full_url, placeholder: 'www.this-url.com', id: 'url-text-box' %>
        <%= f.submit "Create" %>
      </div>
    <% end %>
  </div>

  <div class="row justify-content-center" id="shorten-url-div">
  </div>

  <%= render partial: 'top100' %>
</div>

