<div class="container-fluid">

  <div class="row">
    <div class="col-md-8 ml-auto">
      <h1>Welcome to BVly!!</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 ml-auto welcome_page_form">
      <%= form_for :url, url: urls_path do |f| %>
        <div>
          I want to shorten:
          <%= f.text_field :full_url, placeholder: 'www.this-url.com' %>
          <%= f.submit 'Create' %>
        </div>
      <% end %>
    </div>
  </div>

<br>
  <div class="row">
    <div class="col-md-7 ml-auto">
        <p>Your Shorten URL:</p>
        <p><%= link_to "http://localhost:3000/#{@shorten_url}", "http://localhost:3000/#{@shorten_url}" %></p>
    </div>
  </div>

</div>

