<h1>Welcome to BeenVerly!!</h1>

<%= form_for :url do |f| %>
  <div>
    I want to shorten:
    <%= f.text_field :full_url, placeholder: 'www.this-url.com' %>
    <%= f.submit 'Create' %>
  </div>
<% end %>
