#shorten-url-div {
  margin-top: 10px;
}

#shorten-url-div p {
  margin-top: inherit;
}

#url-create-form {
  text-align: center;
}
.form-wrapper {
  margin-left: 5px;
}

.block-margin {
  display: block;
  margin: auto;
}

#url-index-wrapper {
  margin-top: 30px;
}

.main-form-wrapper {
  width: 70%;
  margin: 0 auto;
  padding: 150px;
  margin-bottom: 50px;
  background-color: white;
  border: 4px solid #ffc107;
}

.main-form-wrapper h2 {
  color: #ffc107;
  font-style: 'Roboto', sans-serif;
}

.new-url-p {
  background-color: #FFFFFF;

  text-align: center;
  padding-top: 20px;
}

.new-url-p {
  color: rgba(0, 0, 0, 0.5);
}
.new-url-p a {
  text-decoration: none;
  color: #ffc107;
}

.new-url-p a:hover {
  color: lightskyblue;
}

.top-100-wrapper {
  background-color: #ffc107;
  padding-bottom: 50px;
}

.btn-grey {
  background-color: rgba(67, 67, 67, 0.9) !important;
  border: none;
}

.top-100-h4 {
  margin-top: 50px;
  color: white;
}

.ol-100-lists {
  color: rgba(67, 67, 67, 0.9) !important;
  text-align: center;
  margin-top:10px;
  margin-bottom: 10px;
}
